@{
    ViewData["Title"] = "Exchange";
}

<div class="text-center">
    <form id="selectForm2">
        <label>
            <input type="checkbox" name="color" value="*orange*" /> *orange*
        </label>
        <label>
            <input type="checkbox" name="color" value="*green*" /> *green*
        </label>
        <label>
            <input type="checkbox" name="color" value="*black*" /> *black*
        </label>
        <button type="submit">Set</button>
    </form>
</div>
